
<!-- <div class="stream">
</div> -->
<canvas></canvas>
<div class="action">
    <button class="take-picture"><span class="material-icons">camera</span></button>
</div>

<div class = "tryAgain">
    <div class="modal">
        <div class="modal-content">
            L'application a besoin de votre autorisation pour fonctionner. <br>
            Souhaitez-vous l'activez ?
        </div>
        <div class="modal-footer">
            <a class="modal-close waves-effect waves-green btn-flat activate">Okay</a>
        </div>
    </div>
</div>
