<div class="menu">
    <div class="container">
        <div class="row center">
            <div class="col s3">
                <a class="trash btn-floating green"><i
                    class="material-icons">delete</i></a>
            </div>
            <div class="col s3">
                <a class="share btn-floating green"><i
                    class="material-icons">share</i></a>
            </div>
            <div class="col s3">
                <a class="download btn-floating green"><i
                    class="material-icons">file_download</i></a>
            </div>
            <div class="col s3">
                <a class="detail btn-floating green"><i
                    class="material-icons">details</i></a>
            </div>
        </div>
    </div>
</div>

